html {
    scroll-behavior: smooth;
}

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

.header {
    position: fixed;
    background-image: linear-gradient(to right, rgb(133, 56, 56), rgb(108, 121, 101));
    height: 70px;
    width: 100%;
    z-index: 1;
}

.header-text p {
    float: left;
    color: white;
    font-size: 60px;
    padding-left: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header-logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
    width: 80px;
}

.nav-link {
    display: inline-flex;
    float: right;
    padding-top: 25px;
}

li {
    list-style: none;
    padding-right: 60px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: all .75s ease;
}

a:hover {
    color: rgb(87, 161, 226);
    font-size: 21px;
    transition: all .75s ease;
}

/*Home Section*/
#Home {
    background-image: url(img/homebackgroundpic.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vh;
    height: 800px;
}
.text-container{
    position: absolute;
    height: 500px;
    width: 300px;
    text-align: center;
    left: 3%;
    top: 25%;
}
.text-container h6{
    font-size: 80px;
    color: white;
    border-bottom: 8px solid black;

}
.text-container p{
    font-size: 50px;
    color: white;
}
.text-container span{
    color: rgb(231, 39, 39);
}


/* Gallery Section*/
#Gallery {
    margin-top: 100px;
    background-image: url(img/bgimg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: auto;
}

.gallery h3 {
    background-color: rgb(34, 45, 38);
    color: white;
    font-size: 30px;
    border-radius: 30px;
    padding: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-left: 30px;
    padding-top: 60px;
}

.gallery img {
    margin: 50px;
    height: 300px;
    width: 200px;
    border: 3px solid rgb(93, 60, 60);
    border-radius: 10px;
    transition: all 1s ease;
}

.gallery img:hover {
    height: 305px;
    width: 205px;
    border: 3px solid gray;
    border-radius: 20px;
    transition: all .50s ease;
}

/*Contact*/
#Contact {
    margin-top: 100px;
    background-image: url(img/contactbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.contact-container{
    text-align: center;
    position: absolute;
    width: 500px;
    height: 500px;
    outline: 3px solid white;
    border-radius: 40px;
    left: 10%;
    margin-top: 5%;
}
.contact-container h1{
    font-size: 70px;
    color: white;
}
.contact-container .login-form{
    margin-top: 30px;
    margin-left: 20px;
}
.contact-container .login-form label{
    font-size: 25px;
    color: white;
}
.login-form input{
    text-align: center;
    border: 3px solid rgb(39, 44, 108);
    border-radius: 30px;
    padding: 5px;
}
.login-form button{
    color: white;
    background-color: rgb(39, 44, 108);
    margin-top: 30px;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}
/*About*/
#About{
    margin-top: 100px;
    background-image: url(img/aboutbackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 800px;
}
.about-container{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    transform: translate(-50%);
    margin-top: 50px;
}
.about-container p{
    margin-top: 20px;
    font-size: 40px;
    text-align: center;
}
#About img{
    width: 200px;
    height: 200px;
    border: 5px solid rgb(69, 122, 187);
    border-radius: 50%;
    margin-left: 25%;
}
/*Footer*/
.footer {
    background-image: linear-gradient(to right, rgb(133, 56, 56), rgb(108, 121, 101));
    height: 70px;
    width: 100%;
}

.footer-logo img {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 80px;
    height: 70px;
}
